@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: regular;
  src: local('Inter'), url('./Inter/Inter_28pt-Regular.ttf');
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: light;
  src: local('Inter'), url('./Inter/Inter_28pt-Light.ttf');
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: medium;
  src: local('Inter'), url('./Inter/Inter_28pt-Medium.ttf');
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  src: local('Inter'), url('./Inter/Inter_28pt-SemiBold.ttf');
}

@font-face {
  font-family: Fraunces;
  font-style: normal;
  font-weight: regular;
  src: local('Fraunces'), url('./Fraunces/Fraunces_72pt-Regular.ttf');
}

