.blog {
  background-color: var(--light-grey);
  &__inner {
    padding-top: 79px;
    padding-bottom: 85px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__link {
    font-family: Inter;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.2px;
    text-align: center;
    color: var(--blue);
    padding-top: 8px;
    padding-right: 32px;
  }
  &__title {
    font-family: Fraunces;
    font-size: 42px;
    font-weight: 400;
    line-height: 50.4px;
    letter-spacing: 0.2px;
    text-align: left;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 50px;
  }
  &__item {
    flex-basis: 355px;
    flex-grow: 0;
    h3 {
      font-family: Fraunces;
      font-size: 25px;
      font-weight: 400;
      line-height: 31.25px;
      letter-spacing: 0.2px;
      text-align: left;
      padding-top: 12px;
    }
    p {
      font-family: Inter;
      font-size: 14px;
      font-weight: 400;
      line-height: 19.6px;
      letter-spacing: 0.2px;
      text-align: left;
      padding-top: 13px;
      padding-bottom: 12px;
    }
    time {
      font-family: Inter;
      font-size: 12px;
      font-weight: 400;
      line-height: 19.6px;
      letter-spacing: 0.2px;
      text-align: left;
    }
  }
  &__text {
    padding: 15px;
    background-color: white;
    padding: 23px 26px;
  }
  // &__img {
  // }
  &__badge {
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.4px;
    text-align: center;
    background-color: #e6f7ff;
    color: #2c90c9;
    display: inline-block;
  }
  
}
