.button {
  line-height: 24px;
  padding: 10px 34px;
  font-size: 17px;
  letter-spacing: 0.6px;
  &_primary {
    background-color: var(--blue);
    color: var(--white);
  }
  &_secondary {
    background-color: var(--white);
    color: var(--blue);
    padding: 6px 22px;
  }
  &_small {
  font-size: 15px;
  padding: 6px 22px;
    
  }
}
