.button {
  font-size: 15px;
  line-height: 24px;
  padding: 7px 22px;
  letter-spacing: 0.6px
  &_primary {
    background-color: var(--blue);
    color: var(--white);
  }
  &_secondary {
    background-color: var(--white);
    color: var(--blue);
  }
}
