.header {
  padding-top: 18px;
  img {
    margin-left: 5px;
  }
  &__inner {
    width: 100%;
    display: grid;
    grid-template-columns: 103px auto auto;
    align-items: center;
    gap: 39px;
  }
  ul {
    display: flex;
  }

  &__nav {
    ul {
      gap: 29px;
      letter-spacing: 0.5px;
    }
    a {
      color: var(--grey);
      font-size: 15px;
    }
  }
  &__auth {
    align-self: end;
    justify-content: flex-end;
  }

 
}
