
@import url('./reset.css');
@import url('../fonts/fonts.css');

:root {
  --black: #1F1F1F;
  --white: #FFFFFF;
  --blue: #0070A0;
  --light-blue: #CCEFF6;
  --yellow: #FAEA73;
  --rose: #F7CEDC;
  --light-rose: #FFCCDD;
  --grey-1: #33383F;
  --grey-2: #626A72;
  --grey-3: #CECAC4;
  --grey-4: #F7F9FA;
}

body * {
  color: var(--black);
  font-family: Inter, sans-serif;
}

.container {
  max-width: 1125px;
  margin: auto;
  @media screen and (min-width: 1300px) {
    padding: 0;
  }
}
